* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    
    
}




.popa {
    padding: 20px 20px;
    background: linear-gradient(135deg, #d1e8d2, #a8e6cf);
    min-height: 100vh;


}
.popa form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.popa h1{
font-size: 22px;
padding: 20px 0px;
text-align: center;
font-family: 'Font1';
color: #193128;
}
.kit {

    display: flex;
    flex-direction: column; /* Измените направление на колонку */
    align-items: flex-start; /* Выравнивание по левому краю */
    margin: 110px; /* Отступ между полями */
    
    
    
}


.kit label {
    font-family: 'Font1';

    margin-bottom: 5px; /* Отступ между label и input */
}
.popa input{
    
    margin-bottom: 25px;
    font-family: 'Font1';
    font-size: 17px;
    padding: 0px 20px;
    background-color: #dcefdd;
    border-radius: 4px;
    
    width: 60vw;
    height: 7vh;
}
.popa button{
    text-decoration: none;
    background-color: rgb(174, 216, 106);
    border-radius: 10px;
    width: 30vw;
    height: 8vh;
    border: none;
    font-family: 'Font1';
    font-size: 17px;
    cursor: pointer;
    
}
@font-face {
    font-family: 'Font1';
    src: url('../../fonts/Lineyka.otf');
    font-weight: normal;
    font-style: normal;
}
.red{
    border: 1px solid red;
}
.White{
    border:1px solid #ffff;
}
.label2{
    text-align: center;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: rgb(226, 114, 92);

}