*{
box-sizing: border-box;
padding: 0;
margin: 0;
text-decoration: none;


}

.txt{
    
    
    
    background: linear-gradient(135deg, #d1e8d2, #73c1a4);
min-height: 100vh;
}
.form{
    width: 75vw;
    border-radius: 20px;
    height: 45vh;
    background: linear-gradient(135deg, #9ecba1, #2feba6);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media screen and  (max-width:500px){
    .txt{
        
    }
}

.secondStep p, h1{


    padding: 20px 0px;
    font-family: 'Font1';
    font-size: 20px;
    
}
@font-face {
    font-family: 'Font1';
    src: url('../../fonts/Lineyka.otf');
    font-weight: normal;
    font-style: normal;
}
.strk{
    
    position: absolute;             /* Позволяет располагать элемент в углу */
    top: 20px;                      /* Отступ от верхнего края */
    left: 20px;    

}
.back{
width: 100vw;
height: 20vh;
background-size:cover;
background-repeat: no-repeat;

background-image:url('../../../public/background.jpg' );
}
.uploadcontainer input {
    
display: none;
}
.Osn{
    margin-top: 10px;
    width: 27vw;
    height:27vw;
    border-radius: 3px;
    background-color: #dcefdd;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Font1'
    
    
}
.page p{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

@font-face {
    font-family: 'Font1';
    src: url('../../fonts/Lineyka.otf');
    font-weight: normal;
    font-style: normal;
}
.page img {
    margin-top: 6px;
    width: 27vw;
    height:27vw;
    border-radius: 3px;
    


}

.allInThisPlace{
    margin-top: 14px;
    box-shadow: 10px 10px 10px rgb(0 0 0  / 0.5) ;
    background-color: #B0BF79;
    border-radius: 20px;
    display: flex;
    
    flex-direction: row;
    gap:50px;
}

.inputs {

    padding: 10px 0px;
    
}
.inputs {
    text-align: center;
    color: #000000;
    font-family: 'Font1';
    font-size: 17px;
    padding: 10px 20px;
    background-color: #dcefdd;
    border-radius: 4px;
    border: 1px solid #ffff;
    width: 50vw;
    margin-bottom: 3vh;
    min-height: 12vw;
    
} 

.inputs1 {
    text-align: center;
    color: #000000;
    font-family: 'Font1';
    font-size: 17px;
    padding: 10px 20px;
    background-color: #dcefdd;
    border-radius: 4px;
    border: 1px solid #ffff;
    width: 50vw;
    margin-bottom: 3vw;
    min-height: 12vw;
    
} 
.allIt{
    padding: 10px 0px;
}